.book-wrapper {
    display: grid;
    grid-template-columns: 50vw 43vw;
    grid-template-rows: auto auto auto;
    grid-template-areas: "cover meta" "summary summary" "video video";
    overflow: hidden;    
    gap: 10px 20px;
}

.cover-container {
    grid-area: cover;
    display: flex;
    align-items: center;
    margin: .5rem .5rem 0 .5rem;
    border: 1px black solid;    
}

.book-record {
    grid-area: meta;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.book-record > .book-name, .book-record-data {
    margin: 0;
    padding-bottom: 2rem;
    margin-right: 20px;
    border-bottom: 1px solid black;
}

.book-select {
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

.book-select > a {
    color: var(--dark-purple);
    text-decoration: none;
    padding: .5rem;
    display: inline-block;
    line-height: 2rem;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    background-color: var(--tiffany-blue);
}

.book-summary {
    grid-area: summary;
    padding: 0 .5rem 0 .5rem;
}

.book-summary p {
    text-align: justify;
}

.cover-container > img {
    height: auto;
}

.video-container {
    grid-area: video;
    width: auto;
    padding: 0 .5rem 0 .5rem;
}

.video-container > video {
    padding: 0;
}

@media all and (min-width: 768px) {
    .book-wrapper {
        justify-content: space-between;
    }

    .cover-container {
        height: 50vh;
    }

    .cover-container > img {
        height: 50vh;
    }

    .video-container {
        height: 50vh;
    }

    .video-container > video {
        height: 50vh;
        padding: 0;
    }
}

@media (min-width: 1200px) {}