.header, .footer {
    background-color: var(--dark-purple);
    color: white;
    height: var(--navbar-height); 
    position: relative;
}

.header-detail {
    margin: 0;
    margin-top: var(--navbar-height);
    padding: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer a {
    color: white;
}