.logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: inherit;
}

.logo-wrapper > img {
    padding: .5rem .5rem;
    height: 100%;
}

.brand {
    display: flex;
    flex-direction: column;
    height: var(--navbar-height);
    width: 150px;
    justify-content: center;
}

.brand-name {
    font-size: 30px;
    margin-right: 10px;
}

.brand-type {
    padding-bottom: .5rem;
    font-style: italic;
}

@media all and (min-width: 768px) {
    .brand-name:hover {
        color: #FF9F1C;
    }
}
