.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark-purple);
    color: white;
    height: var(--navbar-height); 
    display: flex;
}

.burger-label {
    width: 60px;
    height: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 40px;
    flex: 1;
    z-index: 2;
}

.burger-label::before {
    content: '';
    background-color: var(--mellow-apricot);
    width: 1em;
    height: .1em;
    position: absolute;
    top: 0.25em;
    left: 0.1em;
    box-shadow: 0 0.3em 0 0 var(--mellow-apricot),
                0 0.6em 0 0 var(--mellow-apricot);
}

#burger-checkbox {
    position: absolute;
    top: 8px; /* Posiciono el checkbox sobre el burger para que se pueda chequear */
    right: 11px; /* un poco más a la derecha para que quede más espacio al presionar */
    z-index: 3; /* lo pongo por sobre el burger */
    opacity: 0;
    cursor: pointer;
    width: 45px;
    height: 43px;
}

/* Menú cerrado */

.navbar-list {
    display: none;
}

/* Menú abierto */ 

#burger-checkbox:checked ~ .navbar-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0px;
    padding-top: 70px;
    list-style: none;
    background: #ededed;
    opacity: .9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cambio el color del burger para que se vea mejor con el menú abierto */
#burger-checkbox:checked ~ .burger-label::before {
    background-color: var(--dark-purple);
    box-shadow: 0 0.25em 0 0 var(--dark-purple),
                0 0.5em 0 0 var(--dark-purple);
}

.navbar-list li {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar-list a {
    display: block;
    text-decoration: none;
    color: var(--dark-purple);
    font-weight: bold;
    padding: .5rem;
    padding-left: 1rem;
    width: auto;
    margin-left: 0;
    font-size: 1.5rem;
    text-align: center;
}

.navbar-list a:hover {
    background-color: var(--mellow-apricot);
}

.navbar form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-items: flex-start;
}

#search-submit {
    outline: none;
    background-color: var(--tiffany-blue);
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 5px 0px 0px 5px; /* cambiar cuando se despliegue el textbox */
}

form input[type='text'] {    
    height: 30px;
    width: 150px;
    border: 0;
    font-size: 16px;
    outline: none;
    border-radius: 0px 5px 5px 0px;
}
